body {
  line-height:24px;
  font-family: 'Source Sans Pro', sans-serif;
}


@media (min-width: 992px) {
  #headeraccentdiv {
    margin-top:20px;
    margin-right:75px;
  }

  .mdl-title {
    height:48px;
    margin-top:20px;
    margin-bottom: 0px;
    margin-left:16px;
  }
}

@media (max-width: 991px) {
  #headeraccentdiv {
    margin-top:20px;
    margin-right:0px;
  }

  .mdl-title {
    height:48px;
    margin-top:20px;
    margin-bottom: 0px;
    margin-left:0px;
  }
}

@media (max-width: 525px) {
  #headeraccentdiv {
    display:none;
  }

  .mdl-title {
    height:48px;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left:0px;
  }
}



h1 {
  font-size:48px;
  margin-top:0px;
  margin-bottom:0px;
}

h2 {
  font-size:36px;
  margin-top:12px;
  margin-bottom:0px;
}

h3 {
  line-height:24px;
  font-size:24px;
  margin-top:24px;
  margin-bottom:0px;
}

h4 {
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size:21px;
  margin-top:24px;
  margin-bottom:0px;
  line-height: 24px;
}

h5 {
  line-height: 24px;
  font-size:18px;
  margin-top:24px;
  margin-bottom:0px;
}

@media (min-width: 992px) {
  .post h2, .post h3, .post h4, .post h5 {
    width:91%;
  }

  .post .highlight {
    width:91%;
  }

  .post p {
    width:91%;
  }

  .post h3:first-child {
    margin-top:0px;
  }

  .post ul {
    width:90%;
  }
}

.post p {
  padding-top: 24px;
  margin:0px;
  font-size:16px;
}

blockquote {
  font-size: 14px;
  font-style: italic;
  padding: 6px 22px;
  margin-top:24px;
  border-left: 5px solid #0058a0;
}

blockquote p:first-child {
  padding-top:0px;
}

.mdlnav {
  float:right;
}

#home {
  color:white;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#postWrapper {
  margin-top:2px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  margin-top:2em;
}

.title {
  display: inline-block;
}

.title {
  color: white;
}

.title a:hover {
  color: #000;
}

.header {
  margin-top:7em;
  text-decoration: none;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
  text-decoration: none;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 5em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
  text-align:left;
}

.post pre {
  background-color: #f5f2f0;
  border: none;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 11px;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-top: 24px;
  margin-bottom: 0;
}

.post code {
  border: none;
  border-radius:3px;
  background-color: #f5f2f0;
  padding: 0 .2em;
}

.post pre code {
  border: none;  
  font-size:.9em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #f5f2f0;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.heroImg {
  max-height:650px;
}

.header-background {
  background-color:#0A2B80;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:536px;
}

.navbar-bright {
  background-color:#226622;
  color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
  color:#aaccaa;
}

.navbar-bright li > a:hover {
  background-color:#003300;
}

@media (min-width: 992px) {
  #navdiv.affix-top {
    position: static;
    margin-top:0em;
    width:228px;
  }
  
  #navdiv.affix {
    position: fixed;
    top:4.5em;
    width:228px;
  }
}

@media (max-width: 991px) {
  #navdiv.affix {
    display:none;
  }

  #navdiv.affix-top {
    display:none;
  }
}

.nav > li > a {
  border:none;
  border-radius:0px !important;
  text-align:left;
  font-size:15px;
  padding:0px 0px;
  padding-left: 18px;
}

.nav > li > a { text-decoration: none; color:inherit; }
.nav > li > a:visited { text-decoration: none; color:inherit; }
.nav > li > a:hover { text-decoration: none; color:inherit; }
.nav > li > a:focus { text-decoration: none; color:inherit; }
.nav > li > a:hover, .navBtn:active { text-decoration: none; color:inherit; }

/*sidebar*/
#sidebar .nav>.active>a, .bs-sidebar .nav>.active:hover>a, .bs-sidebar .nav>.active:focus>a {
  padding-left: 16px;
  font-weight: 700;
  color: #3D657C;
  background-color: transparent;
  border-left: 2px solid #3D657C;
}


#sidebar .nav>li>ul>li>a, .bs-sidebar .nav:hover>li>ul>li>a, .bs-sidebar .nav:focus>li>ul>li>a {
  font-size:12px;
  padding-left:30px;
}

#sidebar .nav>li>ul>.active>a, .bs-sidebar .nav>li>ul>.active:hover>a, .bs-sidebar .nav>li>ul>.active:focus>a {
  font-size:12px;
  padding-left:28px;
}

.github {
  font-size:15px;
  margin-left:18px;
  margin-top:1em;
}

.github > img {
  margin-top:5px;
  margin-right:5px;
}

hr {
  margin-top:11px;
  margin-bottom:11px;
}

code {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  word-spacing:normal;
  tab-size: 4;
  text-shadow: 0 .08em #fff;
  padding:0;
  color: #4e4e4e;
  font-size: 100%;
  line-height: inherit;
}

table {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 24px;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
padding: 11.5px 8px;
line-height: 24px;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.nav>.active>ul {
  display:block;
}

.nav .nav {
  display:none;
}

#title-link, #title-link:hover, #title-link:visited, #title-link:link, #title-link:active {
  text-decoration: none;
}

a {
  color: #0086d8;
}

div.contact {
  font-size: 15px;
  margin-left: 18px;
  margin-top: 0.5em;
}