---
title:  "MobileDeepLinking Spec"
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" href="/img/MDLfavicon.ico"/>
  <link rel="canonical" href="http://www.mobiledeeplinking.org"/>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="site">
        <div class="col-md-offset-1 col-md-5 col-xs-6">
            <div >
              <a href="/" id="title-link">
                <img src="/img/mobiledeeplinking.png" class="mdl-title">
              </a>
            </div>
        </div>
        <div class="col-xs-6">
          <div id="headeraccentdiv">
            <img src="/img/mdl-headeraccent.png" class="pull-right"/>
          </div>
        </div>
        <div class="col-xs-12">
          {{ content }}
        
          <div class="footer">
            <div>
              <div class="pull-left">
                <a href="https://github.com/mobiledeeplinking">github.com/mobiledeeplinking</a>
              </div>
              <div class="pull-right">
                Copyright MobileDeepLinking.org 2014.
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
 
  $('body').scrollspy({ target: '#sidebar', offset:25 });
    $(".nav > li > a").click(function(event){   
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top - 12}, 300);
    });
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48266284-1', 'mobiledeeplinking.org');
  ga('send', 'pageview');

</script>
</html>
