<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">

    </head>
    <body>
        <div class="container">
          <div class="header-background"></div>
          <div class="row">
            <div class="col-xs-12 site">
            
              {{ content }}
            
              <div class="footer">
                <div>
                  <div class="pull-left">
                    <a href="https://github.com/mobiledeeplinking">github.com/mobiledeeplinking</a>
                  </div>
                  <div class="pull-right">
                    Copyright MobileDeepLinking.org 2014.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
    <script type="text/javascript">
      var tables = document.getElementsByTagName('table');
      for (var i = 0; i < tables.length; i++) {
        tables[i].appendClass("table");
      }
    </script>
</html>
